/* Link Styles ///////////////////////////////////// */
a:link {/* unvisited */
  text-decoration: none;
  /* color: white; */
}

a:visited {/* visited */
  text-decoration: none;
  /* color: white; */
}

a:hover {/* mouse over link */
  border-bottom: 3px;
  text-decoration: none;
  color: lightblue;
}

a:active {/* selected link */
  text-decoration: none;
  color: darkblue;
}


#navbar-hover a:hover {
  border-bottom: 3px;
}


/* Main Styles /////////////////////////////////////////*/
.test {
  color: red !important;
  background-color: red !important;
}

html {
  background-color: #D9D9D9;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  width:  100%;
  object-fit: cover;
  position: relative; /*Lets the logo fold up into it when the logo is "position: absolute" */
}

.logo-box {
 border-radius: 30%;
 background-color:  red;
 width: 100px;
 height: 100px;
}

.logo-box-img {
  max-width: 100px;
  aspect-ratio: 1;
}

/* Main title-desc styles /////////////////////////////// */

.logo-title-main {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 300px;
  padding-left: 150px;
}

.main-description {
  font-size: 15px;
}

/* Navbar Styles //////////////////////////////////////*/

.navbar-main-structure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  width :100%;
  /* the sticky part */
  position: sticky;
  top: 0;
}

.nav-button-skin :hover {
  color: green;
}

.nav-button-skin {
  /* background-color:   transparent; */
  background-color: rgba(255,255,255,0.5);
  color:  black;
  font-size: 30px;
  font-weight:  bold;
}


/* Gallery Styles*/

.project-card {
  margin-right: 20%;
  margin-left: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top:25px;
  margin-bottom:25px;
}

.grey-background {
  background-color: #5E5E5E;
}

.project-card-image {
  display: flex;
  justify-content: start;
}

.project-image {
  object-fit: cover;
  max-width: 300px;
  height: 300px;
}

.card-right {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

#project-title {
margin-bottom: 12px;
}

.hero {
  width:100%;
  height: auto;
  object-fit: cover;
}

/*Carousel Styles //////////////////////////////////////////////*/

.carousel__slide {
  /*. hero */
  width:100%;
  height: auto;
  object-fit: cover;
}