$transparent: rgba(217, 217, 217, 0.28);

$light-grey: rgba(190, 190, 190, 1);

$dark-grey: rgba(94, 94, 94, 1);

//$medium (for font weight) 500

.color-light-grey {
    color: $light-grey;
}

.dark-grey {
    color: $dark-grey;
}

.light-grey-background {
    background-color: $light-grey;
  }

.dark-grey-background {
    background-color: $dark-grey;
}