h1 {
  font-family: "inter", arial, sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "inter", arial, sans-serif;
  font-weight: 600;
}

p, a, li {
  font-family: "inter", arial, sans-serif;
  font-weight: 400;
}

.not-faq {
  background-color: black;
  color: white; /*change to light-grey*/
}

.side-side-outer {
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
}

.side-side-question {
  padding: 12px;
  width: 50%;
  color: white;
  background-color: rgb(94, 94, 94);
}

.side-side-answer {
  padding: 12px;
  width: 50%;
  background-color: rgb(190, 190, 190);
}

.answer-description {
  color: rgb(130, 130, 130);
  font-weight: bold;
}

.not-faq {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 5px;
}

.not-faq-title {
  font-size: 40px;
  font-weight: bold;
}

/* Navbar Styles //////////////////////////////////////*/
.navbar-main-structure {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  width: 100%;
  /* the sticky part */
  position: sticky;
  top: 0;
}

.nav-button-skin {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.color-light-grey {
  color: rgb(190, 190, 190);
}

.dark-grey {
  color: rgb(94, 94, 94);
}

.light-grey-background {
  background-color: rgb(190, 190, 190);
}

.dark-grey-background {
  background-color: rgb(94, 94, 94);
}

.project-card {
  margin-right: 20%;
  margin-left: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media only screen and (max-width: 1025px) {
  .project-card {
    flex-direction: column;
  }
}
.grey-background {
  background-color: #5E5E5E;
}

.project-card-image {
  display: flex;
  justify-content: start;
}

.project-image {
  object-fit: cover;
  max-width: 300px;
  height: 300px;
}

@media only screen and (max-width: 1025px) {
  .project-image {
    max-width: 100%;
  }
}
.card-right {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

#project-title {
  margin-bottom: 12px;
}

.hero {
  width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  margin: 0px;
}

.padding-30 {
  padding: 30px;
}

.bold {
  font-weight: bold;
}

.not-faq {
  background-color: black;
  color: white; /*change to light-grey*/
}

.side-side-outer {
  margin-top: 15px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
}

.side-side-question {
  padding: 12px;
  width: 50%;
  color: white;
  background-color: rgb(94, 94, 94);
}

.side-side-answer {
  padding: 12px;
  width: 50%;
  background-color: rgb(190, 190, 190);
}

.answer-description {
  color: rgb(130, 130, 130);
  font-weight: bold;
}

.not-faq {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.not-faq-title {
  font-size: 40px;
  font-weight: bold;
}

.contact-form-main {
  background-color: rgb(190, 190, 190);
  float: left;
  width: 50%;
  margin: 30px;
  padding: 10px;
}

.small-spacing-top {
  margin-top: 5px;
}

.large-input-field {
  width: 300px;
  height: 100px;
}

/* Link Styles ///////////////////////////////////// */
a {
  color: rgb(89, 106, 255);
}

a:link { /* unvisited */
  text-decoration: none;
  /* color: white; */
}

a:visited { /* visited */
  text-decoration: none;
  /* color: white; */
}

a:hover { /* mouse over link */
  text-decoration: none;
}

a:active { /* selected link */
  text-decoration: none;
  color: darkblue;
}

#navbar-hover a:hover {
  border-bottom: 3px;
}

/* Main Styles /////////////////////////////////////////*/
.test {
  color: red !important;
  background-color: red !important;
}

html {
  background-color: #D9D9D9;
}

.hero-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative; /*Lets the logo fold up into it when the logo is "position: absolute" */
}

.logo-box {
  background-color: red;
  width: 100px;
  height: 100px;
}

.logo-box-img {
  max-width: 100px;
  aspect-ratio: 1;
  object-fit: scale-down;
}

/* Main title-desc styles /////////////////////////////// */
.logo-title-main {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 300px;
  padding-left: 150px;
}

.main-description {
  font-size: 15px;
}

/*Carousel Styles //////////////////////////////////////////////*/
.carousel__slide {
  /*. hero */
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
