@import 'fonts.scss';
@import '../scss/navbar.scss';
@import '../scss/variables.scss';
@import '../scss/gallery.scss';

body {
  margin: 0px;
}

//begin Home page styles

.not-faq {
  background-color: black;
  color: white; /*change to light-grey*/
}
.side-side-outer {
margin-top: 15px;
margin-left: 10%;
margin-right: 10%;
display:flex;
}

.side-side-question {
padding: 12px;
width: 50%;
color: white;
background-color: rgba(94, 94, 94, 1);
}

.side-side-answer {
padding: 12px;
width: 50%;
background-color: rgba(190, 190, 190, 1)
}

.answer-description {
color: rgba(130, 130, 130, 1);
font-weight: bold;
}

.not-faq {
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;

padding: 5px;
}

.not-faq-title {
font-size: 40px;
font-weight: bold;
}

//end Home page styles

/* Link Styles ///////////////////////////////////// */
a {
  color: rgba(89, 106, 255, 1)
}

a:link {/* unvisited */
    text-decoration: none;
    /* color: white; */
  }
  
  a:visited {/* visited */
    text-decoration: none;
    /* color: white; */
  }
  
  a:hover {/* mouse over link */
    // order-bottom: 3px;
    text-decoration: none;
    // color: lightblue;
  }
  
  a:active {/* selected link */
    text-decoration: none;
    color: darkblue;
  }
  
  
  #navbar-hover a:hover {
    border-bottom: 3px;
  }
  
  
  /* Main Styles /////////////////////////////////////////*/
  .test {
    color: red !important;
    background-color: red !important;
  }
  
  html {
    background-color: #D9D9D9;
  }
  
  .hero-image {
    width:  100%;
    object-fit: cover;
    position: relative; /*Lets the logo fold up into it when the logo is "position: absolute" */
  }
  
  .logo-box {
   border-radius: 30%;
   background-color:  red;
   width: 100px;
   height: 100px;
  }
  
  .logo-box-img {
    max-width: 100px;
    aspect-ratio: 1;
    object-fit: scale-down;
  }
  
  /* Main title-desc styles /////////////////////////////// */
  
  .logo-title-main {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 300px;
    padding-left: 150px;
  }
  
  .main-description {
    font-size: 15px;
  }
  
  
  /*Carousel Styles //////////////////////////////////////////////*/
  
  .carousel__slide {
    /*. hero */
    width:100%;
    height: auto;
    object-fit: cover;
  }